.background{
	/*border: 1px solid black;*/
	width: 100%;
	max-width: 900px;
	height: 503px;
	position:relative;
	margin: 7% auto;
	padding: 46px 14px;  
}
.picture{
	/*border: 1px solid black;*/
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	margin-right:10%;*
}
img{
	width: 100%;
}
.descriprion{
	/*border: 1px solid black;*/
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}
.name{
	/*border: 1px solid black;*/
	width: 278px;
	height: 22px;
	margin-left: 0;
}
.headline{
	font-family: Arial Bold MT;
	height: 22px;
	font-size: 23px;
	color: #2f2f2f;
}
.about-block{
	/*border: 1px solid black;*/
	width: 393px;
	height: 50px;
	margin-top: 30px;
}
.about-text{
    font-family: Arial MT;
	color: #2f2f2f;
	font-size: 13px;
}
.price-block{
	/*border: 1px solid black;*/
	display: block;
	width: 120px;
	height: 65px;
	margin-top: 55px;
	padding: -1px;
}
.price-text1{
	font-family: Arial MT;
	color: #2f2f2f;
	font-size: 15px;
}
.price-text2{
	font-family: Arial MT;
	color: #2f2f2f;
	font-size: 30px;
} 
.basket-block{
	/*border: 1px solid black;*/
	display: block;
	width: 252px;
	height: 50px;
	margin-top: 28px;
	background-color: #ec744a;
}
.basket-text{
	font-family: Arial MT;
	font-size: 14px;
	padding-left: 23%;
	padding-top: 6%;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}